.counter{
  padding-top: 20%;
  padding-bottom: 20%;
  background-color:black;
  text-align: center;
}
.counter h1{
  color:green;
}
button{
  background-color: pink;
  height: 40px;
  width: auto;
  color: brown;
  cursor: pointer;
}
.array{
  text-align: center;
  margin-left: 30%;
}
.array h2{
  color:darkorchid;
  background-color: darkgray;
  border: 1px;
  /* justify-content: center;
  text-align: center; */
  box-shadow: 10px 5px 10px black;
  border-radius: 50px;
  margin: 50px;
  width: 50%;
}
.array button{
  border-radius: 5px;
  /* justify-content: center; */
  width: auto;
  height: 30px;
  background-color: darkgray;
  color: darkorchid ;
  border: none;
  box-shadow: 10px 5px 10px black;
  cursor: pointer;
}



.navbar{
  
  padding: 10px 20px;
  background-color: black;
  color: white;

}
.link{
  text-align: right;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}